*{margin: 0;padding: 0; 
font-family: 'Gowun Dodum', sans-serif;
}
body{width: 960px;
	margin: 0 auto;
	background-image : url('https://gif.fmkorea.com/files/attach/new/20191005/486616/182429848/2249378451/7a9b5862d73700f3d864c628ab2dee89.gif');
	background-size: cover;
	}
#main-header{ width:900px; height:75px;
		background-color:#D0A9F5;
		top: 0;
		padding: 60px 30px 0 30px;
		border-bottom-right-radius: 30px;
		border-bottom-left-radius: 30px;
		box-shadow: 3px 5px 2px;
}

.main-menu:target {
	display: block;
}
#content > div:not(:target) {
  transform: scale(0.66);
  background-color: #ECCEF5;
  overflow: hidden;
  display: block;
}
div:not(:target)>#img{
	border: 4px double white;
}


#img{
	float: left;
	margin-right: 30px;

}
#img > img{
	width: 300px;
	height: 300px;
	object-fit: cover;
	border-radius: 10px;
	border: 8px double #ECCEF5;
}
#img > #qnaimg{
	width : 850px;
	
}
#img > #trashp{
	width: 860px;
	height: 800px;
	float: none;
}
#title{
		text-align: center;
		font-size: 30px;
		font-weight: bold;

}

#page0 {
  position: fixed;
  bottom: 40px;
  right: 40px;

}

#page0 > a {
  float: right;
  border-radius: 50px;
  padding: 21px 28px;
  background-color: #D0A9F5;

}
#nav{
	padding-top: 30px;
	padding-left: 30px;


}
#content{
	width: 960px;
}
#content > div{
	margin: 30px 10px;
	padding: 30px 30px;
	overflow: auto;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	box-shadow: 3px 5px 3px;
	display:block;
	background-color: white;
}
h3{
  line-height: 30px;
}
ul > li:hover{
	padding-right: 3px;
}
li > a:hover{
	background-color:#DA81F5;
	color: black;
	padding: 20px 60px;
	font-weight: bold;
	font-size: x-large;
	border: 5px solid #D0A9F5;

}

li{list-style: none;

}
ul > li{list-style: none;
	
	}
li:first-child>a{
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px; 
	
}
li:last-child>a{
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	
}
a{text-decoration: none;
color: black;
background-color: #ECCEF5;
padding: 10px 30px;
font-weight: normal;
border: 2px solid white;
box-shadow: 3px 5px 2px;
}

ul{
	display: flex;
	margin: 0 auto;
}
#title > h1{
	font-family: 'Righteous', cursive;
	background-color:#D0A9F5;
}
#text{
	float: left;
}
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

td:first-child, th:first-child {
  width: 20%;
}

td:last-child, th:last-child {
  width: 30%;
}



label{
}
label>h2{
  display: inline-block;
  padding: 5px 10px;
}

